#!/bin/ksh

daemon="${TRUEPREFIX}/bin/wstunnel"
daemon_user="_wstunnel"
daemon_logger="daemon.info"
daemon_flags="server --restrict-to localhost:51820 ws://localhost:8443 --no-color true"

rc_bg="YES"
rc_reload="NO"

. /etc/rc.d/rc.subr

rc_cmd $1
